<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome  | UG</title>
</head>
<body>
    <div>  

    
        <label for="HALL">HALL:</label>
        <select name="HALL">
        <option selected="" value="Default">(Please select a hall)</option>
        <option value="LH">Legon hall</option>
        <option value="AH">Akuafo hall</option>
        <option value="VH">volta hall</option>
        <option value="CH">clark kall</option>
        </select>
    
        
        <br>
        <br>
    
        <label id="gender">Sex:</label></li>
        <input type="radio" name="msex" value="Male" /><span>Male</span></li>
        <input type="radio" name="fsex" value="Female" /><span>Female</span></li>
        
    
    
    
        <br>
        <br>
        
        <label for="BLOCK">BLOCK:</label>
        <select name="BLOCK">
        <option selected="" value="Default">(Please select )</option>
        <option value="A"> BLK A</option>
        <option value="B"> BLK B</option>
        <option value="C">BLK C</option>
        <option value="D">BLK D</option>
        </select>
    
        <br>
        <br>
    
    
    
        <label for="ROOM">ROOM:</label>
        <select name="ROOM">
        <option selected="" value="Default">(Please select)</option>
        <option value="LH">ROOM 1 </option>
        <option value="AH">ROOM 2</option>
        <option value="VH">ROOM 3</option>
        <option value="CH">ROOM 4</option>
        </select>
    
        <br>
        <br>
    
    <button type="button">Submit</button>
    </div>
</body>
</html>