<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<title> login-</title>
<meta name="keywords" content= />
<meta name="description" content="Thi document is an example of JavaScript Form Validation using a sample registration form. " />

<script src="login-form-validation.js"></script>



</head>
<body onload="login-portal.Login.StudentID.focus();">
<h1>Login portal</h1>

<form method="POST" action="/login" onSubmit="return formValidation();">
<ul>
<label for="StudentID">StudentID:</label>
<input type="text" name="id" size="12" />
<label for="PIN">PIN:</label>
<input type="PIN" name="pin" size="12" />


<br>
<br>


<input type="submit" name="submit" value="Submit" />
</ul>
</form>
</body>
</html>