<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hall Registeration</title>

    
    <style> 
        
        div.body{
            width: auto
             }

    </style>
    



</head>
<body>
 
<form action="/register" method="POST">
    <label for="name">Name</label>
    <input type="text" required name="name"><br><br>
    <label for="id">ID</label>
    <input type="text" required name="id"><br><br>
    <label for="pin">Pin</label>
    <input type="text" required name="pin">    <br><br>
    <label for="Gender">Gender</label>
    <select name="gender" required>
        <option selected="" value="">(Please select)</option>
        <option value="m">Male </option>
        <option value="f">Female</option>
    </select>
    <br><br>
    <label for="level">Level</label>
    <select name="level" required>
        <option selected="" value="">(Please select)</option>
        <option value="100">100 </option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
    </select>
    <br><br>
        
    <button type="submit">Sumbit</button>
</form>

</body>
</html>